.expirienceBar {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .expirienceBar {
    margin-bottom: 3.5rem;
  }
}

.expirienceBar span {
  font-size: 1rem;
}

.expirienceBar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.expirienceBar > div > div {
  height: 4px;
  border-radius: 4px;
  background: var(--green);
}

.expirienceBar > div span.currentExpirience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}
